body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a1cbef;
    font-family: Arial, sans-serif;
    margin: 0;
}

#pet-container {
    text-align: center;
    background-color: rgb(249, 249, 170);
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pet {
    margin-bottom: 20px;
}

#pet img {
    width: 200px;
    height: 200px;
}

#stats {
    margin-bottom: 20px;
}

#controls button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #a34caf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#controls button:hover {
    background-color: #45a049;
}

.life-green {
    color: green;
}

.life-yellow {
    color: orange;
}

.life-red {
    color: red;
}

